@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">@ViewBag.Elementos[0]</h1>
            <p>@ViewBag.Elementos[1]</p>
        </div>
        <!--Grilla + card Inicio-->
        <div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <a asp-area="" asp-controller="Home" asp-action="Synthetik"><img src="/imgs/@ViewBag.Folder/ImgMain1.jpg" class="card-img-top" alt="ImgMain1"></a>
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.Elementos[2]</h5>
                        <p class="card-text">@ViewBag.Elementos[3]</p>
                        <p class="card-text"><small class="text-body-secondary">@ViewBag.Elementos[4]</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <a asp-area="" asp-controller="Home" asp-action="DevilDaggers"><img src="/imgs/@ViewBag.Folder/ImgMain2.jpg" class="card-img-top" alt="ImgMain2"></a>
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.Elementos[5]</h5>
                        <p class="card-text">@ViewBag.Elementos[6]</p>
                        <p class="card-text"><small class="text-body-secondary">@ViewBag.Elementos[7]</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <a asp-area="" asp-controller="Home" asp-action="ItSteals"><img src="/imgs/@ViewBag.Folder/ImgMain3.jpg" class="card-img-top" alt="ImgMain3"></a>
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.Elementos[8]</h5>
                        <p class="card-text">@ViewBag.Elementos[9]</p>
                        <p class="card-text"><small class="text-body-secondary">@ViewBag.Elementos[10]</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Grilla + card Fin-->
    </body>
</html>